.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__blue {
  background-color: @color-blue;
  color: @color-white;
  text-align: center;
}

.advantages-grey__list {
  background-color: @color-light-grey;
  text-align: center;
  list-style: none;
}

.advantages-white__list {
  background-color: @color-white;
  text-align: left;
  list-style: none;
}

.advantages__img-town {
  width: 320px;
  height: 260px;
}

.advantages__town {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 471px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    height: 768px;
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    height: 256px;
    width: 1200px;
  }
}
