.catalog__intro {
  text-align: center;
}

.catalog__intro-header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 25px;
}

.catalog__intro-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 10px;
}
