.introduction {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
}

.introduction input {
  background-color: @color-light-grey;
  border: none;
  outline: none;
  width: 210px;
  height: 58px;
  padding-left: 20px;
}

.introduction legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.contact-info {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
}

.contact-info input {
  background-color: @color-light-grey;
  color: @color-black;
  border: none;
  outline: none;
  width: 260px;
  height: 58px;
  padding-left: 20px;
}

.contact-info legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.impressions {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.impressions legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.attractions {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.attractions legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.review {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.review textarea {
  background-color: @color-light-grey;
  color: @color-black;
  border: none;
  outline: none;
  width: 277px;
  height: 160px;
  padding-left: 20px;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.review legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.review__form input {
  background-color: @color-blue;
  border: none;
}
