.form__introduction {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
}

.form__introduction input {
  background-color: @color-light-grey;
  border: none;
  outline: none;
  width: 210px;
  height: 58px;
  padding-left: 20px;
}

.form__introduction legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__contact-info {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
}

.form__contact-info input {
  background-color: @color-light-grey;
  color: @color-black;
  border: none;
  outline: none;
  width: 260px;
  height: 58px;
  padding-left: 20px;
}

.form__contact-info legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__impressions {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__impressions legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__attractions {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__attractions legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__review {
  background-color: @color-white;
  border-top: 1px solid @color-light-grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.form__review textarea {
  background-color: @color-light-grey;
  color: @color-black;
  border: none;
  outline: none;
  width: 277px;
  height: 160px;
  padding-left: 20px;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__review legend {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__review input {
  background-color: @color-blue;
  border: none;
}
