.advantages__intro {
  text-align: center;
}

.advantages__intro-header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__intro-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.intro__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  box-sizing: content-box;
  overflow: hidden;
  background-image: url("../../img/sedona-welcome.jpg");
  background-position: center;
}
