.advantages-blue {
  background-color: @color-blue;
  color: @color-white;
  text-align: center;
}

.advantages-grey__list {
  background-color: @color-light-gray;
  text-align: center;
}

.advantages-white__list {
  background-color: @color-white;
  text-align: left;
}

.advantages__intro {
  text-align: center;
}

.advantages__intro h1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__intro p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-search {
  text-align: center;
}
